@font-face {
    font-family: 'Courier New';
    src: url('../fonts/cour.ttf');
}

@font-face {
    font-family: 'Courier New';
    src: url('../fonts/courbd.ttf');
    font-weight: bold;
}

html {
    background: black;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 500vh;
    width: 100%;
    z-index: -3;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
}

body * {
    user-select: none;
}

a,
img {
    all: unset
}

.gradient {
    position: fixed;
    z-index: -998;
    height: 100%;
    width: 100%;
    animation: gradient 90s ease alternate infinite;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 00% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.gradient.red {

    background: linear-gradient(45deg, #ffffff10, #dc2002, #ffffff10);
    background-size: 400% 400%;
}

@media (max-width: 768px) {
    #info {
        display: none;
    }
}

header {
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#info {
    position: fixed;
    top: 1em;
    right: 1em;
}

#info>* {
    text-align: right;
    white-space: pre-wrap;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
}

#timeinfo {
    cursor: pointer;
}

h1 {
    all: unset;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}

h1, h2, h3, h4 {
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
}