@font-face {
  font-family: 'Courier New';
  src: url('../fonts/cour.ttf');
}

@font-face {
  font-family: 'Courier New';
  src: url('../fonts/courbd.ttf');
  font-weight: bold;
}

html {
    background: black;
    scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;

  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;	
  color: white;
  text-align: center;
}

a, img {
  all: unset
}

.gradient {
  position: fixed;
  z-index: -2;
  height: 100%;
  width: 100%;

  background: linear-gradient(45deg, #ffffff10, #dc2002,#ffffff10);
  background-size: 400% 400%;
  animation: gradient 30s ease alternate infinite;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 00% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.particles {
  position: fixed;
  z-index: -1;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2em;
}

header > * {
  
  margin-top: 1em;
}

.logowrapper {

}

.logo {

  background-image: url('../images/DPLogo.svg');
  height: 75px;
  width: 75px;

  filter: invert(1) drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));

  transition: .30s all;
  -ms-transition: .30s all;
  -webkit-transition: .30s all;
  -moz-transition: .30s all;
  -o-transition: .30s all;
}

.logo:hover {

  filter: invert(1) drop-shadow(0 2px 3px rgba(20, 20, 20, 0.2));
  transform: scale(1.1);
  text-shadow: 0 0 20px #fff;
}

.namewrapper {
  height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  width: 11ch;
  animation: typing 2s steps(11), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
  border-right: 3px solid;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: bolder;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

nav {

  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;;
  color:white;
  user-select: none;

  filter: saturate(150%) drop-shadow(0 2px 1px #161616);
}

nav > a {

  color: red;
  cursor: pointer;
  transition: 0.5s all;
}

nav > a:hover, nav > a.active {

  color: white;
}

main {

}